<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.evertwoud.atlassiantools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1A12FD7A-61DB-4627-99EC-4C70C12EEA8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD9CFDF8-DC31-4DF9-A1EC-9D20ED8DB0B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EABA24D-4208-49DB-B4D0-9146776925BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6A8B2E2-8535-4AC9-A905-36F98C2E8813</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D4CE9BD8-7E34-4267-8CA7-5C1A94E12FEC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B6A54CE-E5CB-421E-8EC7-15301B0C13B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>203E52DD-95DC-45F0-9B2A-7611350C80B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>102D6357-9582-4C45-95C5-994DF096719F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6516B927-ED24-4AA9-9F03-9F9058C8B93E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84388A99-BCB2-4299-8519-85AD74E507F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A97264D7-46C9-4B51-B8A5-0FA32629A2E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0BC3726-E87D-40EC-8C9C-FE18C4BC75D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9488A13-83EE-45CD-A670-2D723FCE043A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>655F39F4-4737-4541-B51C-9FA5BD437080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F65BFC78-2F00-47D8-9EC7-BA3229BDAFF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EABA24D-4208-49DB-B4D0-9146776925BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evert Woud</string>
	<key>description</key>
	<string>Quickly open Atlassian tools</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Atlassian Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string>Issue - '{query}'</string>
				<key>text</key>
				<string>JIRA issue</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A97264D7-46C9-4B51-B8A5-0FA32629A2E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>confluence</string>
				<key>subtext</key>
				<string>Search - '{query}'</string>
				<key>text</key>
				<string>Open Confluence</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F65BFC78-2F00-47D8-9EC7-BA3229BDAFF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:environment}.atlassian.net/browse/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0BC3726-E87D-40EC-8C9C-FE18C4BC75D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:environment}.atlassian.net/wiki/search?text={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B6A8B2E2-8535-4AC9-A905-36F98C2E8813</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>repo</string>
				<key>subtext</key>
				<string>Repo - '{query}'</string>
				<key>text</key>
				<string>Search Bitbucket</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C9488A13-83EE-45CD-A670-2D723FCE043A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bitbucket.org/dashboard/repositories?search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>655F39F4-4737-4541-B51C-9FA5BD437080</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Not empty</string>
						<key>uid</key>
						<string>D4CE9BD8-7E34-4267-8CA7-5C1A94E12FEC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1EABA24D-4208-49DB-B4D0-9146776925BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:environment}.atlassian.net/wiki/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3B6A54CE-E5CB-421E-8EC7-15301B0C13B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>pullrequests</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Bitbucket Pull Requests</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>203E52DD-95DC-45F0-9B2A-7611350C80B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bitbucket.org/dashboard/pullrequests</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>102D6357-9582-4C45-95C5-994DF096719F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>subtext</key>
				<string>Project name - '{query}'</string>
				<key>text</key>
				<string>Open JIRA</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6516B927-ED24-4AA9-9F03-9F9058C8B93E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:environment}.atlassian.net/projects?contains={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>84388A99-BCB2-4299-8519-85AD74E507F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:environment}.atlassian.net/plugins/servlet/ac/timereports/timereports-report?project.key=HOURS&amp;project.id=10054#!user={var:user_id}&amp;_allProjects=true</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FD9CFDF8-DC31-4DF9-A1EC-9D20ED8DB0B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hourlog</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open JIRA Hourlog</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A12FD7A-61DB-4627-99EC-4C70C12EEA8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Used for quickly opening JIRA &amp; Confluence and Hour logs

Variables needed:
- environment
- user_id

found in:

environment - https://[HERE].atlassian.net/
user_id - https://dtt-dev.atlassian.net/jira/people/[HERE]

Methods:
jira {project} - Searches JIRA project page
jira {issue} - Searches JIRA issue
hourlog - Opens JIRA hourlog

confluence - Opens confluence page
confluence {query} - Searches confluence for query


repo - Searches Bitbucket Repo
pullrequests - Opens the pending pull request page</string>
	<key>uidata</key>
	<dict>
		<key>102D6357-9582-4C45-95C5-994DF096719F</key>
		<dict>
			<key>xpos</key>
			<integer>1345</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>1A12FD7A-61DB-4627-99EC-4C70C12EEA8A</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>1EABA24D-4208-49DB-B4D0-9146776925BE</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>203E52DD-95DC-45F0-9B2A-7611350C80B5</key>
		<dict>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>3B6A54CE-E5CB-421E-8EC7-15301B0C13B7</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>6516B927-ED24-4AA9-9F03-9F9058C8B93E</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>655F39F4-4737-4541-B51C-9FA5BD437080</key>
		<dict>
			<key>xpos</key>
			<integer>1345</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>84388A99-BCB2-4299-8519-85AD74E507F1</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>A97264D7-46C9-4B51-B8A5-0FA32629A2E2</key>
		<dict>
			<key>xpos</key>
			<integer>125</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>B6A8B2E2-8535-4AC9-A905-36F98C2E8813</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>C9488A13-83EE-45CD-A670-2D723FCE043A</key>
		<dict>
			<key>xpos</key>
			<integer>1120</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>D0BC3726-E87D-40EC-8C9C-FE18C4BC75D9</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>F65BFC78-2F00-47D8-9EC7-BA3229BDAFF0</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>FD9CFDF8-DC31-4DF9-A1EC-9D20ED8DB0B5</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>environment</key>
		<string>dtt-dev</string>
		<key>user_id</key>
		<string>5d43022064af340da437c15c</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>user_id</string>
		<string>environment</string>
	</array>
	<key>version</key>
	<string>1.0.6</string>
	<key>webaddress</key>
	<string>http://www.evertwoud.nl</string>
</dict>
</plist>
